<div style="text-align: center;">
	<div><?php echo JText::sprintf( 'COM_KOMENTO_ATTACHMENT_CONFIRM_DELETE', '<@= attachmentname @>' ); ?></div>
	<div>
		<button class="delete-attachment"><?php echo JText::_( 'COM_KOMENTO_ATTACHMENT_DELETE' ); ?></button>
		<button class="delete-attachment-cancel"><?php echo JText::_( 'COM_KOMENTO_ATTACHMENT_DELETE_CANCEL' ); ?></button>
	</div>
</div>
