<div>
<p><?php echo JText::_( 'COM_KOMENTO_CONFIRM_PUBLISH_AFFECT_ALL_CHILD' ); ?></p>
<button class="publish-affectChild"><?php echo JText::_( 'COM_KOMENTO_PUBLISH_ALL_CHILD' ); ?></button>
<button class="publish-single"><?php echo JText::_( 'COM_KOMENTO_PUBLISH_SINGLE' ); ?></button>
</div>
