
<p class="kmt-error-message"><?php echo JText::_( 'COM_KOMENTO_BUGREPORT' ); ?></p>
<div class="kmt-error-status">
<textarea>
Status:
<@= status @>
Status Text:
<@= statusText @>
Response Text:
<@= responseText @>
</textarea>
</div>
<div class="kmt-error-icon"></div>
