.ratestarbtn { background-image: url(rating_stars.png) !important; }
.rating_star_user, 
.rating_star_editor , 
.rating_star_user div, 
.rating_star_editor div 
{ background: url(rating_stars.png) 0 0 repeat-x; height: 16px; font-size: 1px; }
.rating_star_user, .rating_star_editor { margin-top: 3px; text-align: left; cursor: help; }
.rating_star_user div { background-position: 0 -16px; }
.rating_star_editor div { background-position: 0 -32px; }

ul.rating_table { list-style:none; margin:0px 0px 10px 0px; padding:0px; }
ul.rating_table li:last-child { }

ul.rating_table li span { display:block; padding:2px; }
ul.rating_table span.rating_label { width:70%; float:left; }
ul.rating_table span.rating_starc { float:right; }
ul.rating_table .rating_star_user, ul.rating_table .rating_star_editor { cursor: pointer; }
ul.rating_table span.rating_value { width:10%; float:right; white-space:nowrap; }

ul.rating_table span.rating_value_value, ul.rating_table span.rating_value_count { display:inline-block; padding:0px; }
ul.rating_table span.rating_value_value { width:35px; }

.ratingDetails { }

.ratestars, .ratelbl { display:inline-block; }
.ratelbl { width:80%; padding-right:10px; }
.ratestars { width:15%; height:40px; vertical-align:top; position:relative; }

.acomment {background:#f7f7f7;margin:10px;padding:10px;}

ul.rateoverall { float:right; }
ul.rateoverall.jpcollapse li { padding-left:30px; }
.rateoverall .rating_label { }
.rating_table { width:100%; }

.rateopts { margin-bottom:10px;position:relative; }
.ratetipstatic { font-size:80%!important; display:inline; position:absolute; white-space:nowrap; left:100%; top:0px; }