/* image replacement */
.graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{
        margin:0;
        padding:0;
        display:block;
        overflow:hidden;
        text-indent:-8000px;
}

/* Easy Slider */
.easyslider-wrapper > div > ul, .easyslider-wrapper > div > li {
        margin:0;
        padding:0;
        list-style:none;
}
.easyslider-wrapper > div > ul > li { 
        overflow:hidden; 
}	
#prevBtn, #nextBtn{ 
        display:block;
        width:30px;
        height:77px;
        position:absolute;
        top:71px;
        z-index:1000;
}
#prevBtn { left:-30px;}
#nextBtn{ 
        right:-30px;
}														
#prevBtn a, #nextBtn a{  
        display:block;
        position:relative;
        width:30px;
        height:77px;
        background:url(images/btn_prev.gif) no-repeat 0 0;	
}	
#nextBtn a{ 
        background:url(images/btn_next.gif) no-repeat 0 0;	
}	

/* numeric controls */	

ol#controls{
        margin:1em 0;
        padding:0;
        height:28px;	
}
ol#controls li{
        margin:0 10px 0 0; 
        padding:0;
        float:left;
        list-style:none;
        height:28px;
        line-height:28px;
}
ol#controls li a{
        float:left;
        height:28px;
        line-height:28px;
        border:1px solid #ccc;
        background:#DAF3F8;
        color:#555;
        padding:0 10px;
        text-decoration:none;
}
ol#controls li.current a{
        background:#5DC9E1;
        color:#fff;
}
ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}

/* // Easy Slider */