/**
//$Copyright$
*/

.icon-32-cancel { background-image: url(../../../administrator/templates/khepri/images/toolbar/icon-32-cancel.png); }
.icon-32-save { background-image: url(../../../administrator/templates/khepri/images/toolbar/icon-32-save.png); }
div.toolbar { float: right; text-align: right; padding: 0; }

table.toolbar                { border-collapse: collapse; padding: 0; margin: 0;     }
table.toolbar td             { padding: 1px 1px 1px 4px; text-align: center; color: #666; height: 48px; }
table.toolbar td.spacer  { width: 10px; }
table.toolbar td.divider { border-right: 1px solid #eee; width: 5px; }

table.toolbar span { float: none; width: 32px; height: 32px; margin: 0 auto; display: block; }

table.toolbar a {
   display: block; float: left;
    white-space: nowrap;
    border: 1px solid #fbfbfb;
    padding: 1px 5px;
    cursor: pointer;
}

table.toolbar a:hover {
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    color: #0B55C4;
}
/*modal window*/
div#sbox-content { background-color: none; }

div.tabscnt1 div#k2Tabs > ul.simpleTabsNavigation { display:none; }
div.tabscnt1 div#k2Tabs >  div.simpleTabsContent { border:none; padding:0px; }
